* {
    --cor-de-texto-no-rodape: #f5f5f5;
    --cor-de-fundo-no-rodape: #050404;
    --cor-identidade-mariane-fundo: #a38a8a;
    --cor-identidade-mariane-letras: #BC974F;
    --cor-identidade-variacao1: #d48b8b;
    --cor-identidade-variacao2: #d6b3b3;
}

* {
    font-family: 'Ysabeau Office', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;

}


/*Menu*/
.btn-contato button {
    padding: 0.70rem;
    font-size: 1rem;
    background-color: #BC974F;
    width: 100%;
    border-radius: 2.5rem;
    border-style: none;
    margin-bottom: 1rem;
}


.container {
    max-width: 1280px;
    margin: auto;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*Garante que fique todos os icones bem distribuidos*/
}

/* No seu arquivo style.css, você pode adicionar as seguintes regras de CSS */





header {
    background-color: #a38a8a;
    width: 100%;
    padding: 30px 4%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    /*para corrigir o sumuço do menu em algumas sessões*/
    transition: 1s;
}

/*estilizando a classe inventada no javascript*/
header.rolagem {
    background-color: #535353;
    padding: 20px 4%;
    color: #fff;
}

header.rolagem a {
    color: #fff;
}


header ul {
    list-style-type: none;
}

header ul li {
    display: inline-block;
    margin: 0 40px;
}

header ul li a {
    color: #0e0b0b;
    text-decoration: none;
}

.banner {
    height: 100vh;
    background-image: url(imagens/espiral.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 900;
    color: black;
}

/*Estrutura do wrapper*/
.wrapper {
    width: 100%;
    margin: 0 auto;
}

main {
    display: block;
}

.container {
    width: 100%;
    max-width: 760px;
    margin: 0 auto;
    padding: 0 20px;
}

section.module p {
    margin-bottom: 40px;
}

section.module:last-child {
    margin-bottom: 0;
}

.section.module h2 {
    margin-bottom: 40px;
    font-size: 30px;
}

section.module.content {
    padding: 40px 0;
    background-color: #ece7d5;
}


/*Efeito parallax*/
section.module.parallax {
    display: flex;
    /**/
    flex-direction: column;
    /**/
    justify-content: center;
    /**/
    height: 100vh !important;
    /*Isso forçar que tenha 100vh de fato, para a primeira imagem pegar a altura inteira.*/
    width: 100%;
    position: relative;
    overflow: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /*Criou de fato o efeito parallax*/
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}


section.module.parallax::after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 8;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0)0, rgba(0, 0, 0, 0)40%, #000 100%);
    background: -moz-linear-gradient(to bottom, rgba(0, 0, 0, 0)0, rgba(0, 0, 0, 0)40%, #000 100%);
    background: -webkit-linear-gradient(to bottom, rgba(0, 0, 0, 0)0, rgba(0, 0, 0, 0)40%, #000 100%);
    background: -o-linear-gradient(to bottom, rgba(0, 0, 0, 0)0, rgba(0, 0, 0, 0)40%, #000 100%);
}
section.module.parallax-3 {
    background-image: url(imagens/img2.jpg);
}

section.module.parallax h1 {
    color: #fff;
    text-align: center;
    font-size: 58px;
    z-index: 50;
}



/*footer*/
footer {
    position: relative;
    width: 100%;
    background: var(--cor-identidade-mariane-fundo);
    min-height: 100px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer .social_icon,
footer .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

footer .social_icon li,
footer .menu li {
    list-style: none;
}

footer .social_icon li a,
footer .menu li a {
    font-size: 2em;
    color: var(--cor-de-texto-no-rodape);
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

footer .social_icon li a:hover {
    transform: translateY(-10px);
}

footer .menu li a {
    font-size: 1.2em;
    color: var(--cor-de-texto-no-rodape);
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
}

footer .menu li a:hover {
    opacity: 1;
}

footer p {
    color: var(--cor-de-texto-no-rodape);
    text-align: center;
    margin: 0;
}

footer .onda {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url('/imagens/wave.png');
    background-size: 1000px 100px;
}

footer .onda#onda1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animacaoOnda 4s linear infinite;
}

footer .onda#onda2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animacaoOnda_2 4s linear infinite;
}

footer .onda#onda3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animacaoOnda 3s linear infinite;
}

footer .onda#onda4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animacaoOnda_2 3s linear infinite;
}


@keyframes animacaoOnda {
    0% {
        background-position-x: 1000px;
    }

    100% {
        background-position-x: 0px;
    }
}

@keyframes animacaoOnda_2 {
    0% {
        background-position-x: 0px;
    }

    100% {
        background-position-x: 1000px;
    }
}
/* Final do Footer */










/* Estilos para telas menores (dispositivos móveis) */
@media screen and (max-width: 767px) {

    /* Aumentar o tamanho da logo para dispositivos móveis */
    header img {
        width: 100%;
        /* Faz a logo ocupar toda a largura do seu container */
        max-width: 200px;
        /* Define um tamanho máximo para a logo */
        margin-bottom: 0.5rem;
        /* Reduz o espaçamento inferior */
    }

    /* Centralizar o botão de contato */
    .btn-contato {
        text-align: center;
        margin-top: 1rem;
    }
}


@media screen and (min-width: 330px) and (max-width: 400px) {
    #footer_content {
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
        padding: 2rem;
        margin-left: 30%;
    }

    #footer_contacts p {
        margin-right: 1%;
    }

    #footer_social_media {
        flex-direction: column;
        align-items: center;
        margin-right: 50%;
    }
}

@media screen and (min-width: 500px) and (max-width: 771px) {
    #footer_content {
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
        padding: 2rem;
        margin-left: 30%;
    }

    #footer_contacts p {
        margin-left: 10%;
    }

    #footer_social_media {
        flex-direction: column;
        align-items: center;
        margin-right: 50%;
    }

    .footer-list {
        margin-left: 10%;
    }
}

/* Estilos gerais para dispositivos móveis */
@media screen and (max-width: 772px) {

    /* Centralizar o menu */
    header nav {
        text-align: center;
        margin-top: 1rem;
    }

    /* Ajustar a margem do botão de contato */
    .btn-contato button {
        margin-bottom: 0.5rem;
    }

    /* Ajustar o espaçamento do conteúdo nas seções */
    section.module.content p {
        margin-bottom: 20px;
    }

    /* Ajustar o tamanho da fonte nas seções */
    section.module.content h2 {
        font-size: 24px;
    }

    /* Ajustar o tamanho da fonte no rodapé */
    #footer_content {
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
        padding: 2rem;
    }

    /* Ajustar o tamanho da logo no cabeçalho */
    header img {
        width: 200px;
        max-width: 100%;
    }
}

/* Estilos para tablets e telas um pouco maiores */
@media screen and (min-width: 768px) {

    /* Ajustar o tamanho da logo no cabeçalho para telas maiores */
    header img {
        max-width: 250px;
    }

    /* Ajustar o tamanho da fonte no cabeçalho */
    header ul li a {
        font-size: 18px;
    }