body{
    margin: 0;
    padding: 0;
    color: #242424;
    font-family: sans-serif;
    /*Essas duas abaixo servirá para o container ajustar quebrando a linha do texto, caso precise*/
    word-wrap: break-word;
    overflow-wrap: break-word;
    
}

html{
    height: 500vh;

}
/*Menu*/
.btn-contato button{
    padding: 0.25rem;
    font-size: 1.25rem;
    background-color: #BC974F;
    width: 100%;
    border-radius: 2.5rem;
    border-style: none;
    margin-bottom: 1rem;
}


.container{
    max-width: 1280px;
    margin: auto;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-between; /*Garante que fique todos os icones bem distribuidos*/
}

/* No seu arquivo style.css, você pode adicionar as seguintes regras de CSS */

/* Estilos para telas menores (dispositivos móveis) */
@media screen and (max-width: 767px) {
    /* Aumentar o tamanho da logo para dispositivos móveis */
    header img {
        width: 100%; /* Faz a logo ocupar toda a largura do seu container */
        max-width: 200px; /* Define um tamanho máximo para a logo */
        margin-bottom: 0.5rem; /* Reduz o espaçamento inferior */
    }
    
    /* Centralizar o botão de contato */
    .btn-contato {
        text-align: center;
        margin-top: 1rem;
    }
}

/* Estilos para telas um pouco maiores (tablets, etc.) */
@media screen and (min-width: 768px) {
    /* Ajuste o tamanho da logo, se necessário, para telas maiores */
    header img {
        max-width: 250px;
    }
}



header{
    background-color: #a38a8a;
    width: 100%;
    padding: 30px 4%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;/*para corrigir o sumuço do menu em algumas sessões*/
    transition: 1s;
}

/*estilizando a classe inventada no javascript*/
header.rolagem{
background-color: #535353;
padding: 20px 4%;
color: #fff;
}

header.rolagem a{
    color: #fff;
}


header ul{
    list-style-type:none ;
}

header ul li{
    display: inline-block;
    margin: 0 40px;
}

header ul li a{
    color: #0e0b0b;
    text-decoration: none;
}

.banner{
height: 100vh;
background-image: url(imagens/espiral.svg);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}


h1,h2,h3,h4,h5,h6{
    font-weight: 900;
    color: black;
}

/*Estrutura do wrapper*/
.wrapper{
    width: 100%;
    margin: 0 auto;
}

main{
    display: block;
    background-color: #fff;
}

.container{
    width: 100%;
    max-width: 760px;
    margin: 0 auto;
    padding: 0 20px;

}

section.module p{
    margin-bottom: 40px;
}

section.module:last-child{
    margin-bottom: 0;
}

.section.module h2{
    margin-bottom: 40px;
    font-size: 30px;
}

section.module.content{
    padding: 40px 0;
    background-color: #ece7d5;
}


/*Efeito parallax*/
section.module.parallax{

    display: flex; /**/
    flex-direction: column; /**/
    justify-content: center; /**/
    height: 100vh !important; /*Isso forçar que tenha 100vh de fato, para a primeira imagem pegar a altura inteira.*/
    width: 100%;
    position: relative;
    overflow: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;/*Criou de fato o efeito parallax*/
    background-size: cover;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
}


section.module.parallax::after{
content: "";
height: 100%;
width: 100%;
position: absolute;
z-index: 8;
background: linear-gradient(to bottom, rgba(0,0,0,0)0, rgba(0,0,0,0)40%, #000 100%);
background: -moz-linear-gradient(to bottom, rgba(0,0,0,0)0, rgba(0,0,0,0)40%, #000 100%);
background: -webkit-linear-gradient(to bottom, rgba(0,0,0,0)0, rgba(0,0,0,0)40%, #000 100%);
background: -o-linear-gradient(to bottom, rgba(0,0,0,0)0, rgba(0,0,0,0)40%, #000 100%);

}

/**/


section.module.parallax-2{
    background-image:url(imagens/logotipo\ \(2\).png);    
}

section.module.parallax-3{
    background-image:url(imagens/img2.jpg);    
}

section.module.parallax h1{
    color: #fff;
    text-align: center;
    font-size: 58px;
    z-index: 50;

}


/*footer*/
@import url('https://fonts.googleapis.com/css2?family=Buda:wght@300&family=Poiret+One&family=Pompiere&family=Ysabeau+SC:wght@300&display=swap');
*{
    font-family: 'Ysabeau SC', 'sans-serif';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px; /*Espaçamento entre as letras*/
}

footer{
    width: 100%;
    color: var(--main-neutral-30);
}

.footer-link{
    text-decoration: none;
}

#footer_content{
    background-color: var(--main-bg-color);
    display: grid; /*Distribuindo o conteúdo em 4 colunas*/
    grid-template-columns: repeat(4,1fr); /*especificando que queremos 4 colunas*/
    padding: 3rem 3.5rem;
}
/*Alterações na primeira coluna*/
#footer_contacts h1 {
    margin-bottom: 0.75rem;
    margin-left: 1.45rem;
}

#footer_contacts p {
    margin-bottom: 0.75rem;
    margin-left: 1.65rem;
}


/*Alterações nos ícones da segunda coluna*/
#footer_social_media{
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
}

#footer_social_media .footer-link{
    /*Depois de alterar o fundo de cada ícone, percebemos que não está alinhado, vamos usar essas três para fazer isso*/
    display: flex;
    align-items: center;
    justify-content: center;    

    height: 2.5rem; /*Essa largura e altura é para conseguirmos colocar um background separado para cada ícone*/
    width: 2.5rem;  
    color: var(--main-text-color); /*Cor do ícone*/
    border-radius: 50%; 
    transition: all 0.4s; /*transição para quando passar o mouse emcima do icone das midias sociais, ele não mudar a opacidade tão rápido*/    
}

/*o estilo definido para o seletor ":hover" será aplicado temporariamente*/
#footer_social_media .footer-link:hover {
    opacity: 0.8; /*Ao passar o mouse vimos que essa mudança de opacidade está muito rápida, para ser mais suave vamos adicionar uma transição na sessão #footer_social_media .footer-link*/
}

#footer_social_media .footer-link i{
    /*aumentando o tamanho dos icones dentro da bolinha*/
    font-size: 1.25rem;
}

/*Alterando o background de cada ícone*/
#instagram{
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}
#facebook{
    background: #4267b3;
}
#LinkedIn{
    background: #0e76a8;
}
#whatsapp{
    background: #25d366;
}

/*alterando as listas*/
.footer-list{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;    
}


/*mudando a cor dos links que ficam dentro do footer link*/
.footer-list .footer-link{
    color: var(--main-neutral-0); /*Alterando a cor da letra, e também iremos adicionar um hover para quando o mouse passar por cima dessas mesmas palavras*/
}

.footer-list .footer-link:hover{
    color: var(--main-text-color);
    transition: all 0.4s; /*Da mesma forma que a opcaidade, vamos fazer essa mudança de cor ter uma transição suave*/
}

#footer_subscribe{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#footer_subscribe p{
    color: var(--main-neutral-0);
}

/*Customizando a caixa de texto*/
#input_group{
    display: flex;
    align-items: center;
    background-color: var(--main-neutral-0);
    border-radius: 4px;
}

/*Tirando o estilo do input para a visualização das definições acima aparecerem*/
#input_group input{
    all: unset;
    padding: 0.75rem;
    width: 100%;
}

#input_group button{
    background-color: #fff;
    border: none;
    color: var(--main-bg-color);
    padding: 1.25rem;
    font-size: 1.125rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
}
#input_group button:hover{
    opacity: 0.8;
    transition: all 0.4s;
}

#footer_copyright{
    display: flex;
    justify-content: center;
    font-size: 0.9rem;
    padding: 1.5rem;
}

/*Deixando responsivo*/
@media screen and(max-width: 768px) {
    #footer_content{
        grid-template-columns: repeat(2,1fr);
        gap: 2rem;
    }
}

@media screen and(max-width: 426px) {
    #footer_content{
        grid-template-columns: repeat(1,1fr);
        padding: 3rem 2rem;
    }
}


/* Estilos gerais para dispositivos móveis */
@media screen and (max-width: 767px) {
    /* Centralizar o menu */
    header nav {
        text-align: center;
        margin-top: 1rem;
    }

    /* Ajustar a margem do botão de contato */
    .btn-contato button {
        margin-bottom: 0.5rem;
    }

    /* Ajustar o espaçamento do conteúdo nas seções */
    section.module.content p {
        margin-bottom: 20px;
    }

    /* Ajustar o tamanho da fonte nas seções */
    section.module.content h2 {
        font-size: 24px;
    }

    /* Ajustar o tamanho da fonte no rodapé */
    #footer_content {
        grid-template-columns: repeat(1, 1fr);
        gap: 1.5rem;
        padding: 2rem;
    }

    /* Ajustar o tamanho da logo no cabeçalho */
    header img {
        width: 200px;
        max-width: 100%;
    }
}

/* Estilos para tablets e telas um pouco maiores */
@media screen and (min-width: 768px) {
    /* Ajustar o tamanho da logo no cabeçalho para telas maiores */
    header img {
        max-width: 250px;
    }

    /* Ajustar o tamanho da fonte no cabeçalho */
    header ul li a {
        font-size: 18px;
    }
}
